

html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

section {
    padding: 2rem;
}

.hero {
    text-align: center;
}
#about {
    background-color: #f8f8f8;
    padding: 2rem;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-content p a {
    font-family: inherit;
    color: #007bff;
    text-decoration: none;
}

.about-content p a:hover {
    text-decoration: underline;
}

h2 {
    color: #333;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
}

.about-content strong {
    color: #007bff;
}

.projects-content,
.blog-content {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #333;
}

.project-item,
.blog-post {
    background-color: #f4f4f4;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.project-item a {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 250ms ease-in; 
}

@media only screen and (max-width: 600px) {
    .project-item a {
        margin-bottom: 10px;
    }

    .project-item a:last-child {
        margin-bottom: 0;
    }
}


.project-item a:hover{
    display: inline-block;
    background-color: #ffffff;
    color: #333;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    outline: #333 solid 1px;
    transform: scale(1.05);
    transition: transform 250ms ease-in; 
}

.blog-post h3
.blog-post section{
    width: auto;
    height: 30%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

footer a:hover {
    text-decoration: underline;
}



.blog-post {
    position: relative;
}

#cli {
    background-color: #333;
    color: #00ff00;
    padding: 20px;
    font-family: "Inconsolata", monospace;
    width: 97%;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    align-items: center;
}

.terminal {
    background-color: #000000;
    padding: 20px;
    width: 700px;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    position: relative;
    margin: 0 auto; /* Add this line to center the element horizontally */
}

.input-line {
    display: flex;
}

.prompt {
    margin-right: 10px;
}

#input {
    background: none;
    border: none;
    color: #00ff00;
    outline: none;
    flex-grow: 1;
}

#output {
    white-space: pre-wrap;
}
